.formLine {
  display: flex;
  width: 100%;
  max-width: 500px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.formLine label {
  line-height: 2;
  padding-right: 5px;
  width: 120px;
  text-align: right;
}

.inline {
  flex: 1;
}

.form {
  margin-bottom: 20px;
  width: 50%;
}

/* .pageContet{
  padding:30px;
} */

.editContent {
  border: 1px solid #ddd;
}

.button {
  margin-left: 10px;
  width: 150px;
}

.bottom {
  text-align: center;
  margin-top: 40px;
}
