.formLine {
  display:flex;
  width: 28%;
  max-width: 400px;
  margin-right:10px;
}

.form label {
  line-height: 2.3;
  padding-right: 5px;
  width:80px;
  text-align:right;
}

.inline {
  flex:1;
}

.form {
  margin-bottom: 20px;
}