.formLine {
  display:flex;
  min-width: 410px;
  margin-right:10px;
}

.title {
  display:flex;
  margin-right:10px;
  width: 300px;
}

.title label,.formLine label {
  line-height: 2.3;
  padding-right: 5px;
}

.inline {
  flex:1;
}

.form {
  margin-bottom: 40px;
}