.header {
  background-color: #fefefe;
  height: 60px;
  width:100%;
  padding-left:20px;
  border:1px solid rgb(233, 233, 233);
}
.header h1 {
  color:#000;
  display:inline;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  position:relative;
  bottom:-5px;
  margin-left:10px;
}

.history {
  padding: .8rem 0 .8rem 1.5rem;
  border-bottom:1px solid rgb(233, 233, 233);
}

.collapsedBtn {
  font-size: 22px;
  margin-right:20px;
  color: rgb(29, 107, 185);
  position:relative;
  bottom:-8px;
}

.userCenter {
  float:right;
}

.logo {
  width: 50px;
}