.pageContet {
  padding-bottom: 240px;
}
.info {
  padding: 30px;
}
.signcert {
  width: 100%;
}

.textarea {
  width: 100%;
}

.back {
  width: 300px;
}

.bottom {
  text-align: center;
  margin-top: 30px;
}
.button {
  margin-left: 12px;
  width: 200px;
}

.listImg {
  width: 10%;
  margin-left: 20px;
  margin-bottom: 20px;
}

.logo {
  width: 88px;
  height: 88px;
}

.checkboxGroup{
  margin-bottom:10px;
}

.productTypeName{
  margin:20px 0 10px 0;
  font-weight:bold;
}
